<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrainRoot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="{{ url_for('index') }}">Strona Główna</a></li>
                <li><a href="{{ url_for('lesson_route') }}">Lekcja</a></li>
                <li><a href="{{ url_for('settings') }}">Ustawienia</a></li>
                <li><a href="{{ url_for('manager') }}">Manager</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="welcome">
            <p>Gratulacje! Udało Ci się ukończyć lekcję</p>
            <div class="cta">
                <button onclick="window.location.href='lesson'">Rozpocznij nową lekcję</button>
            </div>
        </section>
    </main>
</header>
</body>
</html>