<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrainRoot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <ul class="menu">
            <li><a href="{{ url_for('index') }}">STRONA GŁÓWNA</a></li>
            <li><a href="{{ url_for('lesson_route') }}">LEKCJA</a></li>
            <li><a href="{{ url_for('settings') }}">USTAWIENIA</a></li>
        </ul>
    </header>

<main>
    {% if not category_name %}
    <!-- Wybór kategorii -->
<h2>Wybierz kategorię</h2>
<form method="POST">
    <div class="form-group">
        <label for="category">Wybierz kategorię:</label>
        <select name="category" id="category">
            {% for category in categories %}
                <option value="{{ category[0] }}" {% if category[0] == category_name %}selected{% endif %}>
                    {{ category[0] }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <button type="submit">Zatwierdź</button>
    </div>
</form>
    {% else %}
    <!-- Lekcja -->
    <h2>Przetłumacz Słowo</h2>
    <div class="word-container">
        <p class="word">{{ word }}</p>
    </div>
    {% if message %}
        <p class="{% if 'Gratulacje' in message %}message-success{% else %}message-error{% endif %}">
            {{ message }}
        </p>
    {% endif %}
    <form action="/lesson" method="POST">
        <div class="form-group">
            <label for="translation">Wpisz tłumaczenie:</label>
            <input type="text" id="translation" name="translation" placeholder="Twoje tłumaczenie">
        </div>
        <div class="form-group">
            <input type="submit" name="action" value="Sprawdź odpowiedź">
            <button type="submit" name="action" value="Nie wiem">Nie wiem</button>
        </div>
    </form>
{% endif %}

</main>
</body>
</html>
