<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrainRoot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<header>
    <ul class="menu">
        <li><a href="index.html">STRONA GLOWNA</a></li>
        <li><a href="lesson.html">LEKCJA</a></li>
    </ul>
</header>

<main>
    <h2>Przetłumacz Słowo</h2>
    <div class="word-container">
        <p class="word">{{ word }}</p>
    </div>


    {% if correct_answers %}
    <p>{{correct_answers}}</p>
    {% endif %}
    <!-- Komunikat o poprawności -->
    {% if message %}
    <p class="{% if 'Gratulacje' in message %}message-success{% else %}message-error{% endif %}">
        {{ message }}
    </p>
    {% endif %}
    
    <!-- Tłumaczenie -->
    {% if show_translation %}
    <p class="message-translation">
        Poprawne tłumaczenie to: <strong>{{ translation }}</strong>
    </p>
    {% endif %}
    <form action="/lesson" method="POST">
        <div class="form-group">
            <label for="translation">Wpisz tłumaczenie:</label>
            <input type="text" id="translation" name="translation" placeholder="Twoje tłumaczenie">
        </div>
        <div class="form-group">
            <input type="submit" name="action" value="Sprawdź odpowiedź">
            <button type="submit" name="action" value="Nie wiem">Nie wiem</button>
        </div>
    </form>
</main>
</body>
</html>
